:root{
	--pageBlue: #09A5DB;
	--pageBlack: #011B33;
	--pageGrey: #B0B0B0;
	--pageTextBlack: #333333;
	--pageTextGrey: #828282;
}

#pageBody{
	width: 100%;
	height: 100vh;
	margin: 0px!important;
}

#sectionMenu{
	float: left;
	width: 19%;
	padding: 2em;
}

#sectionBody{
	float: right;
	width: 81%;
}

#appName, #pingName{
	font-family: 'SF Pro Display Bold', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1.4em;
	line-height: 25px;
	letter-spacing: 0.01em;
	color: #011B33;
}

#pingName{
	padding: 1em;
}

#mainMenuText{
	margin-top: 4em;
}

.sideMenuText{
	color: #B0B0B0;
	padding: .7em;
	cursor: pointer;
}

.sideMenuText > span{
	padding-left: .8em;
	font-family: 'Open Sans';
	font-size: 1em;
	font-family: 'SF Pro Display Medium', sans-serif;
}

.sideMenuText.active > span {
	color: var(--pageBlue);
}

.active{
	animation: glow .5s linear;
}

#sectionBodyHeader{
	height: 70px;
}

#adminBtnBody{
	height: 40px;
	width: 130px;
	border-radius: 10px;
	border: 1px solid var(--pageGrey);
	margin-left: 30px;
	cursor: pointer;
}

#adminText{
	font-family: 'Open Sans', sans-serif;
	padding-right: 10px!important;
}

#funaabLogo{
	/*padding-left: 1.3em;*/
	font-size: 14px;
}

#adminTextArrow{
	padding-left: 5px;
	padding-top: 2px;
}

#sectionBodyContainer{
	height: calc(100vh - 70px);
	width: 100%;
}

.body{
	width: 100%;
	height: 100%;
	background: #f5f6fa;
	margin: 0px!important;
	overflow-y: scroll;
}

.body::-webkit-scrollbar {
  width: 7px;
  height: .3px;
}
.body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.body::-webkit-scrollbar-thumb {
	background-color: grey;
	width: 2px;
	height: 2px;
	border-radius: 5px;
	cursor: pointer;
}

#studentsSection{
	display: none;
}

#statsSection{
	width: 100%;
	height: 240px;
	animation: glow 1s linear;
}

#statsBody{
	width: 92%;
	height: 165px;
}
#statsBodyName{
	height: 45%;
	font-family: 'SF Pro Display Medium', sans-serif;
	font-size: 1.2em;
	padding: 25px;
	color: var(---pageTextBlack);
}

.pingsStatsCount{
	font-size: 30px;
	font-family: 'SF Pro Display Bold';
	color: var(---pageTextBlack);
	padding-top: .4em;
}

#statsBodyStats{
	height: 55%;
}

.pingsStatsCountText{
	font-family: 'Open Sans', sans-serif;
	color: var(--pageTextGrey);
}



@keyframes glow{
	from{
		opacity: 0;
	}
}