:root{
	--pageBlue: #09A5DB;
	--pageBlack: #011B33;
	--pageGrey: #B0B0B0;
	--pageTextBlack: #333333;
	--pageTextGrey: #828282;
}

#pageBody{
	width: 100%;
	height: 100vh;
	margin: 0px!important;
}

#sectionMenu{
	float: left;
	width: 19%;
	padding: 2em;
}

#sectionBody{
	float: right;
	width: 81%;
}

#appName, #pingName{
	font-family: 'SF Pro Display Bold', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1.4em;
	line-height: 25px;
	letter-spacing: 0.01em;
	color: #011B33;
}

#pingName{
	padding: 1em;
}

#mainMenuText{
	margin-top: 4em;
}

.sideMenuText{
	color: #B0B0B0;
	padding: .7em;
	cursor: pointer;
}

.sideMenuText > span{
	padding-left: .8em;
	font-family: 'Open Sans';
	font-size: 1em;
	font-family: 'SF Pro Display Medium', sans-serif;
}

.sideMenuText.active > span {
	color: var(--pageBlue);
}

.active{
	animation: glow .5s linear;
}

#sectionBodyHeader{
	height: 70px;
}

#adminBtnBody{
	height: 40px;
	width: 130px;
	border-radius: 10px;
	border: 1px solid var(--pageGrey);
	margin-left: 30px;
	cursor: pointer;
}

#adminText{
	font-family: 'Open Sans', sans-serif;
	padding-right: 10px!important;
}

#funaabLogo{
	/*padding-left: 1.3em;*/
	font-size: 14px;
}

#adminTextArrow{
	padding-left: 5px;
	padding-top: 2px;
}

#sectionBodyContainer{
	height: calc(100vh - 70px);
	width: 100%;
}

.body{
	width: 100%;
	height: 100%;
	background: #f5f6fa;
	margin: 0px!important;
	overflow-y: scroll;
}

.body::-webkit-scrollbar {
  width: 7px;
  height: .3px;
}
.body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.body::-webkit-scrollbar-thumb {
	background-color: var(--pageTextGrey);
	width: 2px;
	height: 2px;
	border-radius: 20px;
	cursor: pointer;
}

#studentsSection{
	display: none;
}

#statsSection{
	width: 100%;
	height: 240px;
	animation: glow 1s linear;
}

#pingDetailsSection{
	width: 100%;
	height: 750px;
	animation: glow 1s linear .5s;
}

#statsBody{
	width: calc(100% - 4em);
	margin-top: 2em;
	margin-bottom: 2em;
	height: 165px;
	border-radius: 10px;
}
#statsBodyName{
	height: 45%;
	font-family: 'SF Pro Display Medium', sans-serif;
	font-size: 1.2em;
	padding: 25px;
	color: var(---pageTextBlack);
}

.pingsStatsCount{
	font-size: 30px;
	font-family: 'SF Pro Display Bold';
	color: var(---pageTextBlack);
	padding-top: .4em;
}

#statsBodyStats{
	height: 55%;
}

.pingsStatsCountText{
	font-family: 'Open Sans', sans-serif;
	color: var(--pageTextGrey);
}

#allPingsSection{
	width: 40%;
	float: left;
}

#infoSection{
	width: 60%;
	float: right;
}

#pingDetailsBody{
	width: calc(100% - 4em);
	height: calc(100% - 4em);
	margin: 2em;
	border-radius: 5px;
}

#pingDetailsHeader{
	height: 155px;
	width: 100%;
}

#pingDetailsHeaderBody{
	height: 80px;
	width: 100%;
	margin-bottom: 1.5em;
}

#pingDetailsHeaderBody > div{
	font-family: 'SF Pro Display Medium', sans-serif;
	font-weight: 400;
	padding-top: 25px;
	padding-left: 20px;
	font-size: 1.1em;
}

#pingDetailsHeaderRuleBody{
	height: 5px;
	margin-top: 65px;
}

#pingDetailsHeaderRule{
	height: 3px;
	width: 80%;
	border-bottom: 1px solid #EFEFEF;
}

#pingDetails{
	min-height: 300px;
}

#pingDetailFilter{
	height: 40px;
	width: 90px;
	border-radius: 10px;
	border: 1px solid var(--pageGrey);
	margin-left: 30px;
	cursor: pointer;
}

#pingDetailFilterArrow{
	padding-left: 1em;
	padding-top: 2px;
}

#pingDetail{
	width: 100%;
	height: 95px;
	padding-top: 15px;
	padding-bottom: 5px;
}

#pingDetail:hover{
	background: #F5F6FA;
	cursor: pointer;
}

#pingDetailImageBody{
	padding-top: .6em!important;
	padding-left: 2em;
}

#pingDetailImageBody > img{
	object-fit: cover;
	border-radius: 100px;
	width: 55.5px;
	height: 55px;
}

#pingDetailTextBodyOne{
	height: 30%;
}

.pingDetailTextBodyTwo{
	height: 70%;
	color: #828282;
	font-family: 'Open Sans', sans-serif;
	/*white-space: nowrap; 
	overflow: hidden;
	word-wrap: break-word;
	text-overflow: ellipsis;*/
	padding-left: 12px;
}

.pingDetailName{
	font-family: 'SF Pro Display Medium', sans-serif;
	font-size: 1.1em;
	font-weight: 500;
}

.pingDetailTime{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #8798AD;
}

#infoSectionLatestPingContainer{
	width: 100%;
	height: 250px;
}

#infoSectionLatestPingBody{
	height: 200px;
	width: calc(100% - 4em);
	margin: 2em;
	border-radius: 10px;
}

#latestPingImage{
	width: 60px;
	height: 60px;
	border-radius: 100px;
	object-fit: cover;
	margin-top: 20px;
}

#latestPingSectionOne{
	height: 45%;
}

#latestPingSectionOne > div {
	padding: 0px!important;
}

#latestPingSectionTwo{
	height: 55%;
	position: relative;
}

.latestPinger{
	height: 33.3%;
}

#latestPingerName{
	font-family: 'SF Pro Display Medium', sans-serif;
	font-weight: 500;
	line-height: 19px;
	font-size: 1.1em;
	padding: .5em;
	color: var(--pageTextBlack);
}

#latestPingerClinicNo{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: var(--pageTextBlack);
	line-height: 15px;
	padding: .5em;
}

#latestPingerTime{
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 15px;
	padding-left: .5em;
	color: #8798AD;
}

#videoCallBtn{
	height: 40px;
	width: 140px;
	background: var(--pageBlue);
	border-radius: 5px;
	color: white;
	font-size: 14px;
}

#latestPingMessage{
	height: 70%;
	width: 95%;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	line-height: 21px;
	color: #828282;
	letter-spacing: 0.01em;
	overflow-y: scroll;
}

#latestPingMessage::-webkit-scrollbar {
  width: 5px;
  height: .1px;
}
#latestPingMessage::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#latestPingMessage::-webkit-scrollbar-thumb {
	background-color: var(--pageTextGrey);
	width: 2px;
	height: 2px;
	border-radius: 20px;
	cursor: pointer;
}

#latestPingMessageOverlay{
	height: 40px;
	width: 90%;
	margin-right: 10px!important;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
	margin-bottom: 1.5em;
	position: absolute;
	bottom: -1.8em!important;
}


@keyframes glow{
	from{
		opacity: 0;
	}
}